services:
  upstream01: &upstream
    image: qorbani/golang-hello-world
    ports:
      - "3001:8080"
    networks:
      lb:
        ipv4_address: 172.17.0.1

  upstream02:
    <<: *upstream
    ports:
      - "3002:8080"
    networks:
      lb:
        ipv4_address: 172.17.0.2

  raijin-lb:
    build:
      context: .
      dockerfile: docker/Dockerfile.x86_64-linux-musl
    networks:
      - lb
    depends_on:
      - upstream01
      - upstream02
    ports:
      - "9002:9002"
    environment:
      PORT: 9002
      TCP_UPSTREAMS: 127.0.0.1:3001,127.0.0.1:3002
    security_opt:
      - seccomp:unconfined

  nginx:
    image: nginx
    volumes:
      - ./docker/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - upstream01
      - upstream02
    ports:
      - "9001:9001"
    networks:
      - lb

networks:
  lb:
    name: lb
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.17.0.0/16